@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {

    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(149, 146, 151);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


